body{
  color: black;
  background-color: #1b262c;
}
h1{
  padding-top: 10%;
  padding-bottom: 8%;
  text-align: center;
  font-size: 500%;
  color: #3282b8;
  font-family: 'PT Sans', sans-serif;
}

.big-col{
  text-align: center;
}

.max_button_size{
  width: 20%;
}
.centered{
  align-items: center;
}

h3{
  color: #3282b8;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 250%
}




label {
    cursor: pointer;
}
input{
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
input:checked + label{
    background-color: #007bff;
    color: white;
}
